/* Чтобы body не давал отступы */
body {
    margin: 0;
    padding: 0;
}

/* Верхний блок на всю ширину */
.header {
    width: 100%;
    background: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box; /* Чтобы padding не расширял блок */
}

/* Контейнер для двух блоков в строку */
.container {
    display: flex;  /* Включаем флекс */
    /*height: 700px;*/
    min-height: 90vh;  /* РАСТЯГИВАЕТСЯ! Минимум = высота окна */
}

/* Левый блок */
.left {
    width: 280px;           /* Фикс ширина */
    flex-shrink: 0;         /* Не сжимается */
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* Кнопки растянуть */
.button-stack button {
    width: 100%;
}

/* Правый блок */
.right {
    width: calc(100% - 280px);  /* Остальное пространство */
    flex-shrink: 1;             /* Может сжиматься при необходимости */
    padding: 20px;
    border: 1px solid #ccc;
    overflow-x: auto;
}